*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	line-height: 1.6;
	font-family: "Playfair Display", serif;
}

img {
	max-width: 100%;
	display: block;
}

h1,
h2,
h3,
p {
	margin: 0;
}

ul,
a,
li {
	text-decoration: none;
	list-style: none;
	color: rgba(226, 226, 226, 1);
}

/* Header Nav */

.logo-img {
	max-height: 5em;
	border-radius: 50%;
	align-self: center;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: black;
	/* padding-right: 2em;
	padding-left: 0.5em; */
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 14px;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: rgb(255, 255, 255);
	transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		padding-right: 1.8em;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: rgba(6, 5, 5, 0.911);
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		z-index: 5;

		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/* Hero Section */

.container {
	width: 85%;
	max-width: 65em;
	gap: 5rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.spacing > * + * {
	margin-top: var(--spacer, 2rem);
}

.hero-title-text {
	font-size: 4rem;
	font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
	letter-spacing: 2px;
	line-height: 1;
	text-transform: uppercase;
}

.hero-sub-text {
	letter-spacing: 1px;
	text-align: center;
}

.hero {
	display: flex;
	text-align: center;
	color: rgba(226, 226, 226, 1);
	padding: 0 0;
	block-size: 100vh;
	background-image: url(/Images/japanese-cafe.jpg), radial-gradient(#444, #111);
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Hero Button */

.btn {
	letter-spacing: 0.1em;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 45px;
	max-width: 160px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	align-self: center;
}
.btn:hover {
	text-decoration: none;
}

/*btn_background*/
.effect04 {
	--uismLinkDisplay: var(--smLinkDisplay, inline-flex);
	display: var(--uismLinkDisplay);
	color: rgb(241, 238, 238);
	background-color: rgba(0, 0, 0, 0.781);
	outline: solid 1px rgb(252, 251, 251);
	position: relative;
	transition-duration: 0.4s;
	overflow: hidden;
}

.effect04::before,
.effect04 span {
	margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}

/*1 */
.effect04:hover {
	background-color: rgb(9, 74, 2);
}

/* HOVER */
.effect04:hover span {
	-webkit-transform: translateY(-400%) scale(-0.1, 20);
	transform: translateY(-400%) scale(-0.1, 20);
}

/*2*/
.effect04::before {
	content: attr(data-sm-link-text);
	color: #fff;
	font-weight: 500;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transform: translateY(500%) scale(-0.1, 20);
	transform: translateY(500%) scale(-0.1, 20);
}

/* HOVER */
.effect04:hover::before {
	letter-spacing: 0.25em;

	-webkit-transform: translateY(0) scale(1, 1);
	transform: translateY(0) scale(1, 1);
}
